# This is the .env.example file
# Put the appropriate API keys here
# Once done, rename this to .env
# 
# After that, go to lib/env/env.dart to add a new entry
# For example, if you added a new key to the .env file like this:
# GEMINI_API_KEY=the_actual_key
# 
# Then you need to add this in the env.dart file like this:
# @EnviedField(varName: 'GEMINI_API_KEY', obfuscate: true)
# static final String geminiKey = _Env.geminiKey;
#
# Then open terminal (Ctrl-J), then input:
# dart run build_runner build --delete-conflicting-outputs
#
# Once done, the API keys are now encrypted
# Delete these comments after.
GEMINI_API_KEY=key_from_gemini